body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}
header{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}


.nav_links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.nav_item a:visited{
    color: #00ff;
}
.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    flex-basis: 450px;
}
.gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: baseline;
}
#image1{
    border: solid 10px #50C7C7;
    margin: 10px;
    width:300px;
}

#image2{
    border: solid 10px #50C7C7;
    margin: 10px;
    width:300px;
}
#image3{
    border: solid 10px #50C7C7;
    margin: 10px;
    width:300px;
}
#image4{
    border: solid 10px #50C7C7;
    margin: 10px;
    width:300px;
}
#image5{
    border: solid 10px #50C7C7;
    margin: 10px;
    width:300px;
}

#logo{
    animation-name: logos;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes logos{
    from{
        width: 50px;
        opacity: 0;
    }
    to{
        width: 425px;
        opacity: 1;
    }
}
@media screen and (min-width: 850px) {
    header{
        align-items: center;
        justify-content: space-between;
        position:sticky;
        top:0;
        flex-direction: row;
        margin-bottom:100px;
        
    }
    .nav_links{
        align-items: center;
        flex-direction: row;
        
    }
    
    .card > header{
        justify-content: center;
        position: static;
    }

    .card{
        flex-basis: 250px;
    }
@media (prefers-reduced-motion) {
    #logo{
        animation: none;
    }
}
}

@media print {
    body{
        background-image: none;
    }
    header{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    nav{
        width: 100%
    }
    .nav_links{
        display:flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .gallery, #gallery {
        display: none;
    }
    .card{
        border: 2px solid #45ADDD;
        flex-basis: 250px;
        flex-direction: column;
    }
    .pricing{
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .pricing li:nth-child(2n)::after{
        content:"👍"
    }
    .pricing li:nth-child(odd)::before{
        content: "👍"
    }
}
